In [1]:
import pandas as pd 
import numpy as np

In [2]:
data = pd.read_csv('train.csv')

In [3]:
data

,ID,Customer_ID,Month,Name,Age,SSN,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,...,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,Credit_Score
0,5634,3392,1,Aaron Maashoh,23.0,821000265.0,Scientist,19114.12,1824.843333,3.0,...,Good,809.98,26.822620,265.0,No,49.574949,21.465380,High_spent_Small_value_payments,312.494089,Good
1,5635,3392,2,Aaron Maashoh,23.0,821000265.0,Scientist,19114.12,1824.843333,3.0,...,Good,809.98,31.944960,266.0,No,49.574949,21.465380,Low_spent_Large_value_payments,284.629162,Good
2,5636,3392,3,Aaron Maashoh,23.0,821000265.0,Scientist,19114.12,1824.843333,3.0,...,Good,809.98,28.609352,267.0,No,49.574949,21.465380,Low_spent_Medium_value_payments,331.209863,Good
3,5637,3392,4,Aaron Maashoh,23.0,821000265.0,Scientist,19114.12,1824.843333,3.0,...,Good,809.98,31.377862,268.0,No,49.574949,21.465380,Low_spent_Small_value_payments,223.451310,Good
4,5638,3392,5,Aaron Maashoh,23.0,821000265.0,Scientist,19114.12,1824.843333,3.0,...,Good,809.98,24.797347,269.0,No,49.574949,21.465380,High_spent_Medium_value_payments,341.489231,Good
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,155625,37932,4,Nicks,25.0,78735990.0,Mechanic,39628.99,3359.415833,4.0,...,Good,502.38,34.663572,378.0,No,35.104023,24.028477,High_spent_Large_value_payments,479.866228,Poor
99996,155626,37932,5,Nicks,25.0,78735990.0,Mechanic,39628.99,3359.415833,4.0,...,Good,502.38,40.565631,379.0,No,35.104023,24.028477,High_spent_Medium_value_payments,496.651610,Poor
99997,155627,37932,6,Nicks,25.0,78735990.0,Mechanic,39628.99,3359.415833,4.0,...,Good,502.38,41.255522,380.0,No,35.104023,24.028477,High_spent_Large_value_payments,516.809083,Poor
99998,155628,37932,7,Nicks,25.0,78735990.0,Mechanic,39628.99,3359.415833,4.0,...,Good,502.38,33.638208,381.0,No,35.104023,24.028477,Low_spent_Large_value_payments,319.164979,Standard
99999,155629,37932,8,Nicks,25.0,78735990.0,Mechanic,39628.99,3359.415833,4.0,...,Good,502.38,34.192463,382.0,No,35.104023,24.028477,High_spent_Medium_value_payments,393.673696,Poor

In [4]:
data['Annual_Income'].value_counts()

33029.66    16
20867.67    16
17816.75    16
9141.63     16
17273.83    16
            ..
33022.70     8
33022.95     8
68332.18     8
17576.52     8
10320.67     8
Name: Annual_Income, Length: 12488, dtype: int64

In [5]:
data['Monthly_Inhand_Salary'].value_counts()

536.431250      16
3080.555000     16
1315.560833     16
6082.187500     16
5766.491667     16
                ..
1573.927963      1
2514.590000      1
3058.989127      1
3136.386667      1
10317.043333     1
Name: Monthly_Inhand_Salary, Length: 13241, dtype: int64

In [6]:
data['Num_Bank_Accounts'].value_counts()

6.0     13175
7.0     12999
8.0     12940
4.0     12343
5.0     12298
3.0     12107
9.0      5503
10.0     5329
1.0      4540
0.0      4417
2.0      4340
11.0        9
Name: Num_Bank_Accounts, dtype: int64

In [7]:
data['Num_Credit_Card'].value_counts()

5.0     18903
7.0     17024
6.0     16932
4.0     14362
3.0     13560
8.0      5073
10.0     4962
9.0      4753
2.0      2196
1.0      2185
11.0       36
0.0        14
Name: Num_Credit_Card, dtype: int64

In [8]:
data['Interest_Rate'].value_counts()

8.0     5104
5.0     5096
6.0     4832
12.0    4648
10.0    4616
7.0     4584
9.0     4576
11.0    4512
18.0    4192
15.0    4072
20.0    4008
17.0    3888
16.0    3800
19.0    3704
3.0     2824
1.0     2744
4.0     2640
2.0     2520
13.0    2432
14.0    2272
32.0    1776
22.0    1752
24.0    1736
30.0    1728
23.0    1720
29.0    1696
28.0    1648
27.0    1640
25.0    1608
21.0    1592
34.0    1528
26.0    1528
33.0    1496
31.0    1488
Name: Interest_Rate, dtype: int64

In [9]:
data['Num_of_Loan'].value_counts()

3.0    15752
2.0    15712
4.0    15456
0.0    11408
1.0    11128
6.0     8144
7.0     7680
5.0     7528
9.0     3856
8.0     3336
Name: Num_of_Loan, dtype: int64

In [10]:
data['Delay_from_due_date'].value_counts()

15.0    3596
13.0    3424
8.0     3324
14.0    3313
10.0    3281
        ...
59.0     528
39.0     525
43.0     502
37.0     490
46.0     490
Name: Delay_from_due_date, Length: 63, dtype: int64

In [11]:
data['Num_of_Delayed_Payment'].value_counts()

19.0    5982
17.0    5832
10.0    5802
16.0    5768
15.0    5724
18.0    5668
20.0    5584
12.0    5493
9.0     5399
8.0     5300
11.0    5272
14.0    4503
13.0    4332
21.0    2717
7.0     2535
22.0    2495
6.0     2491
23.0    2304
5.0     2263
25.0    2241
0.0     2081
3.0     2074
2.0     2071
24.0    2045
1.0     2043
4.0     1981
Name: Num_of_Delayed_Payment, dtype: int64

In [12]:
data['Credit_Mix'].value_counts()

Standard    45848
Good        30384
Bad         23768
Name: Credit_Mix, dtype: int64

In [13]:
data['Outstanding_Debt'].value_counts()

1109.03    24
460.46     24
1151.70    24
1360.45    24
967.75     16
           ..
1553.07     8
1072.63     8
510.55      8
1277.80     8
256.00      8
Name: Outstanding_Debt, Length: 12203, dtype: int64

In [14]:
data['Credit_History_Age'].value_counts()

190.0    488
232.0    485
191.0    484
215.0    483
213.0    483
        ...
3.0       21
403.0     15
2.0       15
404.0     15
1.0        2
Name: Credit_History_Age, Length: 404, dtype: int64

In [15]:
data['Monthly_Balance'].value_counts()

236.241829     8
1183.930696    8
803.332290     7
235.451585     7
396.837590     7
              ..
522.596320     1
302.407573     1
381.232009     1
1126.868163    1
414.080204     1
Name: Monthly_Balance, Length: 98494, dtype: int64